
[Unit]
Description=Odoo Server by www.NACER.ma
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=forking
User=root
Group=root
ExecStart=/etc/init.d/odoo-server start
ExecStop=/etc/init.d/odoo-server stop
ExecRestart=/etc/init.d/odoo-server force-restart 
TimeoutSec=600
Restart=on-failure
